<div class="card flex justify-center bmi-inputs">
  <input type="number" placeholder="Peso(kg)" pInputText [(ngModel)]="weight" />
  <input type="number" placeholder="Altura(cm)" pInputText [(ngModel)]="height" />
  <p-button label="Calcular" class="bmi-button" (onClick)="calculate()"/>
</div>

<!-- Mostrar resultado -->
<div *ngIf="bmiResult">
  <p>IMC: {{ bmiResult }}</p>
  <p>Classificação: {{ classification }}</p>
</div>

<!-- Erro -->
<p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>