@import '../../../../styles/variables.scss';

.bmi-inputs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  input {
    width: 100%;
    max-width: 15rem;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-color: $secondary-color;
    }
  }

  .bmi-button ::ng-deep .p-button {
    background-color: $secondary-color;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }

    &:active {
      background-color: darken($secondary-color, 15%);
    }
  }
}