@if(loading) {
<p-card header="Treinos">
    <p-skeleton height="2rem" styleClass="mb-2" />
</p-card>
}

<p-toast position="bottom-center" />

@if (diets !== null) {
<p-card header="Dietas">
    <div class="flex flex-column justify-content-center align-items-center">
        <p class="mb-3">
            Aguarde um pouco. Estamos trabalhando para exibir suas dietas aqui.
        </p>
    </div>

    <!-- <div class="flex flex-wrap justify-content-centerrow-gap-8">
        @for (exercice of exercices; track $index) {
        <app-trainings-card></app-trainings-card>
        }
        <app-trainings-card></app-trainings-card>
    </div> -->
</p-card>
} @else {
<p-card header="Dietas">
    <div class="flex flex-column justify-content-center align-items-center">
        <p class="mb-3">
            Ops! Parece que você ainda não tem uma dieta. Para gerar clique no
            botão abaixo.
        </p>
        <p-button label="Gerar dieta"></p-button>
    </div>
</p-card>
}
