<p-toast position="bottom-center" />

@if(loading) {
<p-card header="Treino">
    <p-skeleton
        class="lg:col-4 md:col-6 col-12"
        height="2rem"
        styleClass="mb-2"
    />
    <div class="grid">
        <p-skeleton
            class="lg:col-4 md:col-6 col-12"
            width="100%"
            height="131px"
        />
        <p-skeleton
            class="lg:col-4 md:col-6 col-12"
            width="100%"
            height="131px"
        />
        <p-skeleton
            class="lg:col-4 md:col-6 col-12"
            width="100%"
            height="131px"
        />
        <p-skeleton
            class="lg:col-4 md:col-6 col-12"
            width="100%"
            height="131px"
        />
        <p-skeleton
            class="lg:col-4 md:col-6 col-12"
            width="100%"
            height="131px"
        />
    </div>
</p-card>
} @else { @if (trainings === undefined) {
<p-card header="Treino">
    <div class="flex flex-column justify-content-center align-items-center">
        <p class="mb-3">
            Ops! Parece que você ainda não tem um treino. Para gerar clique no
            botão abaixo.
        </p>
        <p-button label="Gerar treino" (click)="createTraning()"></p-button>
    </div>
</p-card>

} @else {
<p-card header="Treino de {{ selectedDay | lowercase }}">
    <div class="grid">
        <p-dropdown
            [options]="daysOfWeek"
            [(ngModel)]="selectedDay"
            (onChange)="updateSelectedTraining($event.value)"
            placeholder="Selecione um dia"
            class="lg:col-4 md:col-6 col-12"
        />
    </div>

    @if(selectedDay === 'Sábado' || selectedDay === 'Domingo') {

    <p-messages severity="info">
        <ng-template pTemplate>
            Você não tem um treino programado para hoje. Aproveite para
            descansar!
        </ng-template>
    </p-messages>

    } @else if (selectedTrainings) {
    <div class="grid">
        @for (ex of selectedTrainings.exercises; track ex.exercicio; let idx =
        $index) {
        <app-trainings-card
            class="lg:col-4 md:col-6 col-12"
            [exercice]="ex"
            [index]="idx"
        />
        }
    </div>
    } @else {
    <p-messages severity="error">
        <ng-template pTemplate> Erro ao carregar treino. </ng-template>
    </p-messages>
    }
</p-card>

} }
