

<p-steps [model]="items" [readonly]="false" />

<h3 class="font-semibold">Qual o seu gênero?</h3>

<label for="male" class="card card--male">
    <input type="radio" name="gender" id="male" value="male" />
    <div class="title font-semibold">Masculino</div>
</label>

<label for="female" class="card card--female">
    <input type="radio" name="gender" id="female" value="female" />
    <div class="title font-semibold">Feminino</div>
</label>

<p-button label="Próximo" />



<h3 class="font-semibold">Qual o seu peso?</h3>
