@if(loading) {
<p-progressSpinner
    styleClass="w-4rem h-4rem z-5"
    style="
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
    "
    strokeWidth="4"
    animationDuration=".5s"
/>
}

<p-toast position="bottom-center" />

<form [formGroup]="assessmentForm" (ngSubmit)="calculateBmi()">
    <p-stepper [(activeStep)]="active" [linear]="true">
        <p-stepperPanel>
            <ng-template
                pTemplate="content"
                let-nextCallback="nextCallback"
                let-index="index"
            >
                <h3 class="text-2xl text-color font-semibold">
                    Qual o seu peso?
                </h3>

                <p-inputGroup>
                    <input
                        pInputText
                        pKeyFilter="num"
                        class="w-full"
                        placeholder="Seu peso"
                        formControlName="weight"
                    />
                    <p-inputGroupAddon> kg </p-inputGroupAddon>
                </p-inputGroup>

                @if (assessmentForm.get('weight').invalid &&
                (assessmentForm.get('weight').dirty ||
                assessmentForm.get('weight').touched) ) {
                <small class="text-red-500 mt-2 block" id="weight-error">{{
                    getErrorMessage("weight")
                }}</small>
                }

                <div class="flex pt-4 justify-content-end">
                    <p-button
                        label="Avançar"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        [disabled]="
                            this.assessmentForm.get('weight').value == ''
                        "
                        (onClick)="nextCallback.emit()"
                    />
                </div>
            </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
            <ng-template
                pTemplate="content"
                let-prevCallback="prevCallback"
                let-nextCallback="nextCallback"
                let-index="index"
            >
                <h3 class="text-2xl text-color font-semibold">
                    Qual a sua altura?
                </h3>

                <p-inputGroup>
                    <input
                        pInputText
                        pKeyFilter="num"
                        class="w-full"
                        placeholder="Sua altura"
                        formControlName="height"
                    />
                    <p-inputGroupAddon> cm </p-inputGroupAddon>
                </p-inputGroup>

                @if (assessmentForm.get('height').invalid &&
                (assessmentForm.get('height').dirty ||
                assessmentForm.get('height').touched) ) {
                <small class="text-red-500 mt-2 block" id="height-error">{{
                    getErrorMessage("height")
                }}</small>
                }
                <div class="flex pt-4 justify-content-between">
                    <p-button
                        label="Voltar"
                        icon="pi pi-arrow-left"
                        severity="secondary"
                        (onClick)="prevCallback.emit()"
                    />

                    <button
                        pButton
                        pRipple
                        label="Concluir"
                        [disabled]="
                            this.assessmentForm.get('height').value == ''
                        "
                        type="submit"
                    ></button>
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</form>
