<div class="flex flex-column sm:flex-row surface-50 border-solid border-round-xl border-1 border-200 gap-3 p-3">
    <img class="w-full md:w-3" [src]="imagePath" [alt]="meals.dish" />

    <div
        class="flex flex-column justify-content-evenly align-items-start gap-3 w-full h-auto"
    >
        <p-tag [value]="meals.meal" />
        <span
            class="font-semibold text-lg text-surface-900 dark:text-surface-0 leading-tight"
            >{{ meals.dish }}</span
        >
        <div class="">
            <p class="font-semibold text-surface-900 mb-1">Ingredientes</p>
            <p
                class="text-surface-500 dark:text-surface-300 text-base leading-tight"
                >{{ meals.ingredients }}</p
            >
        </div>
    </div>
</div>
